<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">

	<div class='notifications top-rigth'></div>

	<div id="page-content">
		<div class="content-header">
			<ul class="nav-horizontal text-center">
				<!-- 	<li class="active"><a href="javascript:void(0)"><i
							class="fa fa-home"></i> Home</a></li> -->
			</ul>
			<div class="header-section">
				<h1>
					<strong>Facturas</strong>
				</h1>
			</div>
		</div>
		<div class="form-horizontal">

			<div class="form-group">
				<label class="col-md-3 control-label" for="example-text-input"></label>
				<div class="col-md-5"></div>
			</div>

		</div>
		<div class="form-horizontal">

			<div class="form-group">
				 <label class="col-md-3 control-label" for="example-text-input">Buscar</label>
				<form th:action="@{/facturas/buscarfacturas}" method="post" th:object="${facturaDTO}">
						<div class="col-md-5">


							<input type="text" id="example-text-input" th:field="${facturaDTO.id}" name="txtBuscar"
								class="form-control" placeholder="Numero Factura " />

						</div>

						<button type="submit" class="btn btn-info">
							<i class="fa fa-angle-right"></i> Buscar
						</button>					
					</form>   
			</div>
		</div>

		<div class="block">
			<!-- Table Styles Title -->
			<div class="block-title"></div>
			<div class="table-options clearfix">

				<div class="btn-group btn-group-sm pull-left"></div>
			</div>
			<div class="table-responsive">

				<a class="btn btn-info" th:href="@{/facturas/crear}">Crear
					Factura</a>

				<table class="table table-striped table-vcenter">

					<thead>
						<tr>
							<th class="text-center">N&uacute;mero Factura</th>
							<th class="text-center">Cliente</th>
							<th class="text-center">Destino</th>
							<th class="text-center">SubTotal</th>
							<th class="text-center">Itbis</th>
							<th class="text-center">Total</th>
							<th class="text-center">Estado</th>
							<th class="text-center"></th>

						</tr>
					</thead>

					<tbody>
						<tr th:each="factura, rowStat : ${factura}">
							<td class="text-center"><span th:text="${factura.id}"></span></td>
							<td class="text-center"><span th:text="${factura.clienteId}"></span></td>
							<td class="text-center"><span th:text="${factura.destino}"></span></td>
							<td class="text-center"><span th:text="${factura.subTotal}"></span></td>
							<td class="text-center"><span th:text="${factura.itbis}"></span></td>
							<td class="text-center"><span th:text="${factura.total}"></span></td>
							<td class="text-center" th:if="${factura.estado}==1"><a
								href="javascript:void(0)" class="label label-primary">Activo</a></td>
							<td class="text-center" th:if="${factura.estado}==0"><a
								href="javascript:void(0)" class="label label-danger">Inactivo</a></td>
							<td class="text-center"><a
								th:href="@{/facturas/editar/}+ ${factura.id}"><i
									class="fa fa-pencil"></i></a></td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
</html>