<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
	<div th:fragment="content">
		<div class="notifications top-rigth"></div>
		<div id="page-content">
			<div class="content-header">
				<ul class="nav-horizontal text-center">
					<!-- 	<li class="active"><a href="javascript:void(0)"><i
							class="fa fa-home"></i> Home</a></li> -->
				</ul>
				<div class="header-section">
					<h1>
						Formulario de facturas
						<!-- <i class="gi gi-table">Formulario de clientes</i><br> -->
					</h1>
				</div>
				<div class="row">
					<form id="formFactura" class="form-horizontal form-bordered"
						th:object="${factura}" method="post"
						th:action="@{/facturas/guardar}">
						<input type="hidden" th:field="${factura.id}" /> <input
							type="hidden" th:field="${factura.version}" />
						<div class="col-md-12">
							<!-- Basic Form Elements Block -->
							<div class="block" style="margin-left: 20px !important;">
								<!-- Basic Form Elements Title -->
								<div class="block-title">
									<div class="block-options pull-right"></div>
									<h2>
										<strong>Datos B&aacute;sicos </strong>
									</h2>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-3 control-label">Cliente</label>
										<div class="col-md-9">

											<select th:field="${factura.clienteId}" class="select-chosen">
												<option value="">Seleccione</option>
												<option th:each="entry : ${clienteList}"
														th:value="${entry.id}" th:text="${entry.nombre}" />


											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Destino</label>
										<div class="col-md-9">
											<input type="text" id="example-text-input"
												name="example-text-input" class="form-control"
												placeholder="Destino" th:field="${factura.destino}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="example-text-input">Cotizacion
											 </label>
										<div class="col-md-9">
											<input type="checkbox" class="form-control" size="1"
												th:field="${factura.cotizacion}">
											</input>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Tipo Factura</label>
										<div class="col-md-9">

											<select th:field="${factura.tipoFactura}"  id="selectTipoFactura" onchange="mostrarColumnas(this.value)" class="select-chosen">
												<option value="0">Seleccione</option>
												<option th:each="entry : ${tipoFacturaList}"
														th:value="${entry.id}" th:text="${entry.nombre}" />


											</select></div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Comprobante Fiscal</label>
										<div class="col-md-9">
											<input type="checkbox" id="chkconComprobanteFiscal" class="form-control" size="1"

												   th:field="${factura.conComprobanteFiscal}">
											</input>
											<input type="text" id="txtComprobanteFiscal"  style="display:none" readonly="readonly"
												th:field="${factura.comprobanteFiscal}" class="form-control"></input>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Descuento</label>
										<div class="col-md-9">
											<input type="text"
												   th:field="${factura.descuento}" class="form-control"></input>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Estatus</label>
										<div class="col-md-9">
											<select id="estatus" name="estatus" class="form-control"
													size="1" th:field="${factura.estatus}">
												<option value="P">Pendiente</option>
												<option value="A">Aprobada</option>
												<option  value="X">Pagada</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="estado">Estado</label>
										<div class="col-md-9">
											<label class="switch switch-primary">
												<input id="estado" type="checkbox" th:checked="${factura.estado}"/><span></span>
											</label>
										</div>
									</div>
								</div>
								<div class="block">
									<!-- Table Styles Title -->
									<div class="block-title"></div>
									<div class="table-options clearfix">
										<div class="btn-group btn-group-sm pull-left"></div>
									</div>
									<div class="block-title">
										<h2>
											<strong>Detalle Factura</strong>
										</h2>
									</div>
									<div class="form-horizontal form-bordered">
										<button name="agregarDetalleFactura" class="btn btn-info"
											th:if="${factura.DetalleFactura.size() &lt; 5}"
											onclick="editarDetalleFactura('formFactura', '/facturas/agregarDetalleFactura#detalleFactura');">Agregar
											Detalle</button>

										<table class="table table-striped table-vcenter"
											   id="detalleFactura">
											<thead>
											<tr>
												<th style="display: none" class="text-center">&Iacute;ndice</th>
												<th>Servicio</th>
												<th>Cantidad</th>
												<th>Monto</th>
												<th>SubTotal</th>
												<th>Itbis</th>
												<th>Total</th>
												<th></th>
												<th class="text-center"></th>
											</tr>
											</thead>
											<tbody>
											<tr th:each="DetalleFactura, rowStat : *{DetalleFactura}">
												<td th:text="${rowStat.count}" style="display: none" class="text-center">1</td>
												<td class="text-center">
													<input class="form-control" th:field="*{DetalleFactura[__${rowStat.index}__].servicioId}"/>
												</td>
												<td class="text-center">
													<input class="form-control" th:field="*{DetalleFactura[__${rowStat.index}__].cantidad}"/>
												</td>
												<td class="text-center">
													<input class="form-control" th:field="*{DetalleFactura[__${rowStat.index}__].monto}"/>
												</td>
												<td class="text-center">
													<input class="form-control" th:field="*{DetalleFactura[__${rowStat.index}__].subTotal}"/>
												</td>
												<td class="text-center">
													<input class="form-control" th:field="*{DetalleFactura[__${rowStat.index}__].itbis}"/>
												</td>
												<td class="text-center">
													<input class="form-control" th:field="*{DetalleFactura[__${rowStat.index}__].total}"/>
												</td>
												<td>
													<button name="quitarDetalleFactura"
															class="fa fa-trash btn btn-danger"
															th:value="${rowStat.index}"
															onclick="editarDetalleFactura('formFactura', '/facturas/quitarDetalleFactura#detalleFactura');"></button>
												</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-actions"
									style="margin-left: 20px !important;">
									<div class="col-md-9 col-md-offset-3">
										<button id="guardar" type="submit"
											class="btn btn-sm btn-primary">
											<i class="fa fa-angle-right"></i> Guardar
										</button>
										<a class="btn btn-sm btn-warning" th:href="@{/facturas}"><i
											class="fa fa-repeat"></i> Salir</a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>