<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>



</head>
<body>
	<div th:fragment="content">
		<div class="notifications top-rigth"></div>
		<div id="page-content">
			<div class="content-header">
				<ul class="nav-horizontal text-center">
					<!-- 	<li class="active"><a href="javascript:void(0)"><i
							class="fa fa-home"></i> Home</a></li> -->
				</ul>
				<div class="header-section">
					<h1>
						Formulario de facturas (VUE)
						<!-- <i class="gi gi-table">Formulario de clientes</i><br> -->
					</h1>
				</div>
				<div class="row">
					<form id="formFactura" class="form-horizontal form-bordered"
						th:object="${factura}" method="post"
						th:action="@{/facturas/guardar}">

						<input id="id" type="hidden"  v-model="factura.id" th:value="${id}"/>
						<input type="hidden"  v-model="factura.version" />
						<div class="col-md-12">
							<!-- Basic Form Elements Block -->
							<div class="block" style="margin-left: 20px !important;">
								<!-- Basic Form Elements Title -->
								<div class="block-title">
									<div class="block-options pull-right"></div>
									<h2>
										<strong>Datos B&aacute;sicos </strong>
									</h2>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-3 control-label">Cliente</label>
										<div class="col-md-9">

											<select v-model="factura.clienteId"  onchange="actualizarCliente(this.value)" class="select-chosen">
												<option value="">Seleccione</option>
												<option th:each="entry : ${clienteList}"
														th:value="${entry.id}" th:text="${entry.nombre}" />


											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Destino</label>
										<div class="col-md-9">
											<input type="text" id="Destino"
												name="Destino" class="form-control"
												placeholder="Destino" v-model="factura.destino"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="example-text-input">Cotizacion
											 </label>
										<div class="col-md-9">
											<label class="switch switch-primary">
												<input type="checkbox" v-model="factura.cotizacion"/><span></span>
											</label>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Tipo Factura</label>
										<div class="col-md-9">

											<select v-model="factura.tipoFactura"  id="selectTipoFactura"  class="select-chosen">
												<option value="0">Seleccione</option>
												<option th:each="entry : ${tipoFacturaList}"
														th:value="${entry.id}" th:text="${entry.nombre}" />

											</select></div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Comprobante Fiscal</label>
										<div class="col-md-9">
												<label class="switch switch-primary">
													<input type="checkbox" id="chkconComprobanteFiscal"  v-model="factura.conComprobanteFiscal"/><span></span>
												</label>
											<input type="text" id="txtComprobanteFiscal"  style="display:none" readonly="readonly" v-model="factura.comprobanteFiscal" class="form-control"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Descuento</label>
										<div class="col-md-9">
											<input type="text" v-model="factura.descuento" class="form-control"></input>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">SubTotal</label>
										<div class="col-md-9">
											<input type="text" v-model="factura.subTotal" class="form-control" v-bind:readonly="true"/>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Itbis</label>
										<div class="col-md-9">
											<input type="text" v-model="factura.itbis" class="form-control" v-bind:readonly="true"/>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Total</label>
										<div class="col-md-9">
											<input type="text" v-model="factura.total" class="form-control" v-bind:readonly="true"/>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label">Estatus</label>
										<div class="col-md-9">
											<select id="estatus" name="estatus" class="form-control"
													size="1" v-model="factura.estatus">
												<option value="P">Pendiente</option>
												<option value="A">Aprobada</option>
												<option  value="X">Pagada</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="estado">Estado</label>
										<div class="col-md-9">
											<label class="switch switch-primary">
												<input id="estado" type="checkbox" v-model="factura.estado"/><span></span>
											</label>
										</div>
									</div>
								</div>
								<div class="block">
									<!-- Table Styles Title -->
									<div class="block-title"></div>
									<div class="table-options clearfix">
										<div class="btn-group btn-group-sm pull-left"></div>
									</div>
									<div class="block-title">
										<h2>
											<strong>Detalle Factura</strong>
										</h2>
									</div>
									<div class="form-horizontal form-bordered">

										<table class="table table-striped table-vcenter">
											<thead>
												<th>Servicio</th>
												<th>Cantidad</th>
												<th>Monto</th>
												<th>SubTotal</th>
												<th>Itbis</th>
												<th>Total</th>
											</thead>
											<tbody>
												<td class="text-center">
													<input class="form-control" v-model="factura.detail.servicioId"/>
												</td>
												<td class="text-center">
													<input class="form-control" v-model="factura.detail.cantidad"/>
												</td>
												<td class="text-center">
													<input class="form-control" v-model="factura.detail.monto"/>
												</td>
												<td class="text-center">
													<input class="form-control" v-model="factura.detail.subTotal" v-bind:readonly="true"/>
												</td>
												<td class="text-center">
													<input class="form-control" v-model="factura.detail.itbis" v-bind:readonly="true"/>
												</td>
												<td class="text-center">
													<input class="form-control" v-model="factura.detail.total" v-bind:readonly="true"/>
												</td>
											</tbody>
										</table>

										<a name="agregarDetalleFactura" class="btn btn-info"
											 v-on:click="agregar" href="#detalleFactura">Agregar
											Detalle</a>

										<table class="table table-striped table-vcenter"
											id="detalleFactura">
											<thead>
												<tr>
													<th style="display: none" class="text-center">&Iacute;ndice</th>
													<th>Servicio</th>
													<th>Cantidad</th>
													<th>Monto</th>
													<th>SubTotal</th>
													<th>Itbis</th>
													<th>Total</th>
													<th></th>
													<th class="text-center"></th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="item in factura.detalleFactura">
													<td style="display: none" class="text-center">1</td>
													<td class="text-center">
														<input class="form-control" v-model="item.servicioId" v-bind:readonly="true"/>
													</td>
													<td class="text-center">
														<input class="form-control" v-model="item.cantidad" v-bind:readonly="true"/>
													</td>
													<td class="text-center">
														<input class="form-control" v-model="item.monto" v-bind:readonly="true"/>
													</td>
													<td class="text-center">
														<input class="form-control" v-model="item.subTotal" v-bind:readonly="true"/>
													</td>
													<td class="text-center">
														<input class="form-control" v-model="item.itbis" v-bind:readonly="true"/>
													</td>
													<td class="text-center">
														<input class="form-control" v-model="item.total" v-bind:readonly="true"/>
													</td>
													<td>
														<a name="quitarDetalleFactura" href="#detalleFactura" class="fa fa-trash btn btn-danger" v-on:click="remover(item)"></a>
													</td>
													<td>
														<a name="editarDetalleFactura" href="#detalleFactura" class="fa fa-edit btn btn-info" v-on:click="editar(item)"></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-actions"
									style="margin-left: 20px !important;">
									<div class="col-md-9 col-md-offset-3">
										<a id="guardar" href="#"
											class="btn btn-sm btn-primary" v-on:click="guardar" v-bind:disabled="factura.id != 0 ? true : false">
											<i class="fa fa-angle-right"></i> Guardar
										</a>
										<a class="btn btn-sm btn-warning" th:href="@{/facturas}"><i
											class="fa fa-repeat"></i> Salir</a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<script>

</script>


</body>
</html>