<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->

<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>RENT-CAR</title>

<script type="text/javascript" src="/js/vendor/modernizr-respond.min.js"
	th:src="@{/js/vendor/modernizr-respond.min.js}"></script>
<script type="text/javascript" src="/js/vendor/jquery-1.11.3.min.js"
	th:src="@{/js/vendor/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"
	th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script type="text/javascript" src="/js/plugins.js"
	th:src="@{/js/plugins.js}"></script>
<script type="text/javascript" src="/js/app.js" th:src="@{/js/app.js}"></script>
<script type="text/javascript" src="/js/pages/formsWizard.js"
	th:src="@{/js/pages/formsWizard.js}"></script>
	
<!--VUE JS-->
<script type="text/javascript" src="/js/vue/vue.js" th:src="@{/js/vue/vue.js}"></script>
<script type="text/javascript" src="/js/vue/vue-router.js" th:src="@{/js/vue/vue-router.js}"></script>
<script type="text/javascript" src="/js/axios/axios.js" th:src="@{/js/axios/axios.js}"></script>

<script type="text/javascript" src="/app/utils.js" th:src="@{/app/utils.js}"></script>
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link type="text/css" rel="stylesheet" href="/css/plugins.css"
	th:href="@{/css/plugins.css}" />
<link type="text/css" rel="stylesheet" href="/css/main.css"
	th:href="@{/css/main.css}" />
<link type="text/css" rel="stylesheet" href="/css/themes.css"
	th:href="@{/css/themes.css}" />
	
<link type="text/css" rel="stylesheet" href="/css/notify.css" th:href="@{/css/notify.css}" />
	 

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" /> 

</head>

<!-- Icons -->


<body>



	<!-- Page Wrapper -->
	<!-- In the PHP version you can set the following options from inc/config file -->
	<!--
            Available classes:

            'page-loading'      enables page preloader
        -->
	<div id="page-wrapper">
		<!-- Preloader -->
		<!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
		<!-- Used only if page preloader is enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
		<div class="preloader themed-background">
			<h1 class="push-top-bottom text-light text-center">
				<strong>RENT-CAR</strong>
			</h1>
			<div class="inner">
				<h3 class="text-light visible-lt-ie9 visible-lt-ie10">
					<strong>Loading..</strong>
				</h3>
				<div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
			</div>
		</div>
		<!-- END Preloader -->

		<div id="page-container"
			class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

			<!-- Main Sidebar -->
			<div id="sidebar">
				<!-- Wrapper for scrolling functionality -->
				<div id="sidebar-scroll">
					<!-- Sidebar Content -->
					<div class="sidebar-content">
						<!-- Brand -->
						<a href="?" class="sidebar-brand"> <i
							class="gi gi-flash"></i><span class="sidebar-nav-mini-hide"><strong>RENT-CAR</strong>
						</span>
						</a>
						<!-- END Brand -->

						<div
							class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
							<div class="sidebar-user-avatar">
								<a href="#"> <img
									src="/img/placeholders/avatars/avatar2.jpg"
									th:src="@{/img/placeholders/avatars/avatar2.jpg}" alt="avatar" />
								</a>
							</div>
							<div class="sidebar-user-name" sec:authentication="name">Yoendy F. Maldonado</div>
							<div class="sidebar-user-links">
								<a href="page_ready_user_profile.html" data-toggle="tooltip"
									data-placement="bottom" title="Perfil"><i
									class="gi gi-user"></i></a> <a href="page_ready_inbox.html"
									data-toggle="tooltip" data-placement="bottom" title="Mensajes"><i
									class="gi gi-envelope"></i></a>
								<!-- Opens the user settings modal that can be found at the bottom of each page (page_footer.html in PHP version) -->
								<a href="javascript:void(0)" class="enable-tooltip"
									data-placement="bottom" title="Configuración"
									onclick="$('#modal-user-settings').modal('show');"><i
									class="gi gi-cogwheel"></i></a> <a th:href="@{/seguridad/Logout}"
									data-toggle="tooltip" data-placement="bottom" title="Salir"><i
									class="gi gi-exit"></i></a>
							</div>
						</div>

						<!-- Theme Colors -->

						<!-- END Theme Colors -->

						<!-- Sidebar Navigation -->
						<ul class="sidebar-nav">
						<li><a href="#" class="sidebar-nav-menu"><i
									class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i
									class="gi gi-shopping_cart sidebar-nav-icon"></i><span
									class="sidebar-nav-mini-hide">Menú</span></a>
								<ul>
					     <li><a th:href="@{/clientes}" >Clientes</a></li>
                          <li><a th:href="@{/proveedores}" >Proveedores</a></li>
									<li><a th:href="@{/facturas}" >Facturacion</a></li>

								</ul></li>
                     
							

						</ul>
						<!-- END Sidebar Navigation -->


					</div>
					<!-- END Sidebar Content -->
				</div>
				<!-- END Wrapper for scrolling functionality -->
			</div>
			<!-- END Main Sidebar -->

			<!-- Main Container -->
			<div id="main-container">

				<div th:replace="${view} :: content"></div>



				<!-- END Page Content -->

				<!-- Footer -->
				<footer class="clearfix">
					<div class="pull-right"></div>
					<div class="pull-left"></div>
				</footer>
				<!-- END Footer -->
			</div>
			<!-- END Main Container -->
		</div>
		<!-- END Page Container -->
	</div>
	<!-- END Page Wrapper -->

	<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
	<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>

	<!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
	<div id="modal-user-settings" class="modal fade" tabindex="-1"
		role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header text-center">
					<h2 class="modal-title">
						<i class="fa fa-pencil"></i> Settings
					</h2>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript" src="/js/bootstrap-notify.js" th:src="@{/js/bootstrap-notify.js}"></script>
</body>
</html>