<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">

	<div class='notifications top-rigth'></div>

	<div id="page-content">
		<div class="content-header">
			<ul class="nav-horizontal text-center">
				<!-- 	<li class="active"><a href="javascript:void(0)"><i
							class="fa fa-home"></i> Home</a></li> -->
			</ul>
			<div class="header-section">
				<h1>
					<strong>Clientes</strong>
				</h1>
			</div>
		</div>
		<div class="form-horizontal">

			<div class="form-group">
				<label class="col-md-3 control-label" for="example-text-input"></label>
				<div class="col-md-5"></div>
			</div>

		</div>
		<div class="form-horizontal">

			<div class="form-group">
				 <label class="col-md-3 control-label" for="example-text-input">Buscar</label>
				<form th:action="@{/clientes/buscarcliente}" method="post" th:object="${clienteDTO}">
						<div class="col-md-5">


							<input type="text" id="example-text-input" th:field="${clienteDTO.nombre}" name="txtBuscar"
								class="form-control" placeholder="Nombre " />

						</div>

						<button type="submit" class="btn btn-info">
							<i class="fa fa-angle-right"></i> Buscar
						</button>					
					</form>   
			</div>
		</div>

		<div class="block">
			<!-- Table Styles Title -->
			<div class="block-title"></div>
			<div class="table-options clearfix">

				<div class="btn-group btn-group-sm pull-left"></div>
			</div>
			<div class="table-responsive" id="cliente">

				<a class="btn btn-info" th:href="@{/clientes/crear}">Crear
					cliente</a>

				<clientes v-bind:clientes="clientes" v-bind:total="total">

				</clientes>



			</div>

		</div>
	</div>
</div>
<script>
    appCliente.getAll();
</script>
</html>