<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
	<div th:fragment="content">
		<div class="notifications top-rigth"></div>
		<div id="page-content">
			<div class="content-header">
				<ul class="nav-horizontal text-center">
					<!-- 	<li class="active"><a href="javascript:void(0)"><i
							class="fa fa-home"></i> Home</a></li> -->
				</ul>
				<div class="header-section">
					<h1>
						Formulario de clientes
						<!-- <i class="gi gi-table">Formulario de clientes</i><br> -->
					</h1>
				</div>
				<div class="row">
					<form id="formcliente" class="form-horizontal form-bordered"
						th:object="${cliente}" method="post"
						th:action="@{/clientes/guardar}">
						<input type="hidden" th:field="${cliente.id}" /> <input
							type="hidden" th:field="${cliente.version}" />
						<div class="col-md-12">
							<!-- Basic Form Elements Block -->
							<div class="block" style="margin-left: 20px !important;">
								<!-- Basic Form Elements Title -->
								<div class="block-title">
									<div class="block-options pull-right"></div>
									<h2>
										<strong>Datos B&aacute;sicos </strong>
									</h2>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-3 control-label">Nombre</label>
										<div class="col-md-9">
											<input type="text" id="example-text-input-1"
												name="example-text-input" class="form-control"
												placeholder="Nombre" th:field="${cliente.nombre}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Apellido</label>
										<div class="col-md-9">
											<input type="text" id="example-text-input"
												name="example-text-input" class="form-control"
												placeholder="Apellido" th:field="${cliente.apellido}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label" for="example-text-input">Tipo
											DNI </label>
										<div class="col-md-9">
											<select class="form-control" size="1"
												th:field="${cliente.tipoDni}">
												<option value="">Seleccione</option>
												<option value="1">C&eacute;dula</option>
												<option value="2">Pasaporte</option>
												<option value="3">RNC</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">DNI</label>
										<div class="col-md-9">
											<input type="text" id="example-text-input"
												name="example-text-input" class="form-control"
												placeholder="DNI" th:field="${cliente.Dni}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Direcci&oacute;n</label>
										<div class="col-md-9">
											<textarea rows="4" cols="50" placeholder="Direcci&oacute;n"
												th:field="${cliente.direccion}" class="form-control"></textarea>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Estado</label>
										<div class="col-md-9">
											<label class="switch switch-primary">
												<input type="checkbox" th:checked="${cliente.estado}"/><span></span>
											</label>
										</div>
									</div>
								</div>
								<div class="block">
									<!-- Table Styles Title -->
									<div class="block-title"></div>
									<div class="table-options clearfix">
										<div class="btn-group btn-group-sm pull-left"></div>
									</div>
									<div class="block-title">
										<h2>
											<strong>Otros Contactos </strong>
										</h2>
									</div>
									<div class="form-horizontal form-bordered">
										<button name="agregarContacto" class="btn btn-info"
											th:if="${cliente.contactos.size() &lt; 5}"
											onclick="editarContacto('formcliente', '/clientes/agregarContacto#contactos');">Agregar
											Contacto</button>

										<table class="table table-striped table-vcenter"
											id="contactos">
											<thead>
												<tr>
													<th class="text-center">&Iacute;ndice</th>
													<th class="text-center">Tipo</th>
													<th class="text-center">Contacto</th>
													<th class="text-center"></th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="contacto, rowStat : *{contactos}">
													<td th:text="${rowStat.count}" class="text-center">1</td>
													<td class="text-center">
														<select id="example-select"
														class="form-control" size="1"
														th:field="*{contactos[__${rowStat.index}__].tipoContacto}">
															<option value="">Seleccione</option>
															<option value="email">Email</option>
															<option value="celular">Celular</option>
															<option value="telefono">Tel&eacute;fono</option>
													</select></td>
													<td class="text-center"><input class="form-control"
														th:field="*{contactos[__${rowStat.index}__].nombre}"></input></td>
													<td>
														<button name="quitarContacto"
															class="fa fa-trash btn btn-danger"
															th:value="${rowStat.index}"
															onclick="editarContacto('formcliente', '/clientes/quitarContacto#contactos');"></button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group form-actions"
									style="margin-left: 20px !important;">
									<div class="col-md-9 col-md-offset-3">
										<button id="guardar" type="submit"
											class="btn btn-sm btn-primary">
											<i class="fa fa-angle-right"></i> Guardar
										</button>
										<a class="btn btn-sm btn-warning" th:href="@{/clientes}"><i
											class="fa fa-repeat"></i> Salir</a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>